<html>
  <head>
    <link rel="stylesheet" href='../css/bootstrap.css'>
    <link rel='stylesheet' href='../css/login.css'>
    <title>{{ category.getName}}</title>
  </head>
  <body>
      {{ category.getName }}
      {% if events is not empty %}
        <ul>
            {% for event in events %}
            <p>{{ event.getName }}</p>
            {% endfor %}
        </ul>
        {% endif %}
    <div class='header'></div>
    <div class='footer'></div>
  </body>
</html>
