<html>
  <head>
    <link rel="stylesheet" href='../css/bootstrap.css'>
    <link rel='stylesheet' href='../css/login.css'>
    <title>All Categories</title>
  </head>
  <body>
    <center>
      <div class='header'><h1>PickApp<small>Join the Fun</small>
      </div>
    <form action='/'>
    <button type='submit' class='btn btn-primary'>Home</button>
    </form>
  </center>
  <div class="row" style='text-align:center'>
      <div class="thumbnail" style='text-align:center'>
        <img src="http://cdn.flaticon.com/png/256/33736.png" width='100px' height='100px' alt="...">
        <div class="caption">
          <h3>Soccer</h3>
          <p>Soccer Games Located in your Area</p>
          <p><a href="/events" class="btn btn-primary" role="button">View Games</a> <a href="/create_event" class="btn btn-default" role="button">Create a Game</a></p>
        </div>
      </div>
    </div>
  </div>
    <div class="row" style='text-align:center'>
        <div class="thumbnail" style='text-align:center'>
          <img src="http://www2.psd100.com/ppp/2013/11/2701/Football-1127233546.png" width='150px' height='150px' alt="...">
          <div class="caption">
            <h3>Football</h3>
            <p>Football Games Located in your Area</p>
            <p><a href="/events" class="btn btn-primary" role="button">View Games</a> <a href="/create_event" class="btn btn-default" role="button">Create a Game</a></p>
          </div>
        </div>
      </div>
    </div>
  <div class="row" style='text-align:center'>
      <div class="thumbnail" style='text-align:center'>
        <img src="http://www.icone-png.com/png/5/4557.png" width='125px' height='125px' alt="...">
        <div class="caption">
          <h3>Basketball</h3>
          <p>Basketball Games Located in your Area</p>
          <p><a href="/events" class="btn btn-primary" role="button">View Games</a> <a href="/create_event" class="btn btn-default" role="button">Create a Game</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style='text-align:center'>
      <div class="thumbnail" style='text-align:center'>
        <img src="http://cdn.flaticon.com/png/256/39507.png" width='125px' height='125px'alt="...">
        <div class="caption">
          <h3>Baseball</h3>
          <p>Baseball Games Located in your Area</p>
          <p><a href="/events" class="btn btn-primary" role="button">View Games</a> <a href="/create_event" class="btn btn-default" role="button">Create a Game</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style='text-align:center'>
      <div class="thumbnail" style='text-align:center'>
        <img src="http://2.bp.blogspot.com/-1eogkGNIO5A/UjAV6XUAD0I/AAAAAAAAGxc/s5BP43N_W0E/s400/mountain-bike-md.png" width='125px' height='125px' alt="...">
        <div class="caption">
          <h3>Biking</h3>
          <p>Biking Groups Located in your Area</p>
          <p><a href="/events" class="btn btn-primary" role="button">View Games</a> <a href="/create_event" class="btn btn-default" role="button">Create a Game</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style='text-align:center'>
      <div class="thumbnail" style='text-align:center'>
        <img src="http://www.harmonicsystems.net/jim/polehole.jpg" width='175px' height='175px' alt="...">
        <div class="caption">
          <h3>Disc Golf</h3>
          <p>Disc Golf Pickups Located in your Area</p>
          <p><a href="/events" class="btn btn-primary" role="button">View Games</a> <a href="/create_event" class="btn btn-default" role="button">Create a Game</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style='text-align:center'>
      <div class="thumbnail" style='text-align:center'>
        <img src='/images/pickapplogo.jpg' width="175px" height="175px" alt="...">
        <div class="caption">
          <h3>Dodgeball</h3>
          <p>Dodgeball Groups Located in your Area</p>
          <p><a href="/events" class="btn btn-primary" role="button">View Games</a> <a href="/create_event" class="btn btn-default" role="button">Create a Game</a></p>
        </div>
      </div>
    </div>
  </div>
    <div class='footer'></div>
  </body>
</html>
