<html>
  <head>
    <link rel="stylesheet" href='../css/bootstrap.css'>
    <link rel='stylesheet' href='../css/login.css'>
    <title>Login</title>
  </head>
  <body><center>
    <div class='header'><h1><small>Create a Profile</h1>
    </div>
    <form action="/create_login" method="post">
      <label for='email'>Email</label>
      <input id='email' name="email" type="text">
      <label for='password'>Password</label>
      <input id='password' name="password" type="password">
      <button type='submit' class='btn btn-success'>Login</button>
    </form>
    <div class='footer'></div>
  </body>
</html>
