<html>
    <head>
        <link rel="stylesheet" type="text/css" media="screen" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link href="./css/font-awesome-4.0.3.css" rel="stylesheet">
        <link href="./css/prettify-1.0.css" rel="stylesheet">
        <link href="./css/base.css" rel="stylesheet">
        <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/d004434a5ff76e7b97c8b07c01f34ca69e635d97/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
        <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/d004434a5ff76e7b97c8b07c01f34ca69e635d97/src/js/bootstrap-datetimepicker.js"></script>
        <link href="css/login.css" rel="stylesheet" type="text/css">
        <title>PickApp</title>
    </head>
    <body>
        <h2>Create an Event</h2>
        <div class="container-fluid">
         <div id="main">
             <div id="login">
                 <center>
                 <h2>PickApp Login</h2>
                    <form action="/add_event" method="post">
                        <label for='name'>Name</label>
                        <input id='name' name="name" type="text">
                        <label for='location'>Location</label>
                        <input id='location' name="location" type="text">
                        <label for='event_time'>Event Time</label>
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
                        <label for='reqs'>Requirements</label>
                        <input id='reqs' name="reqs" type="text">
                        <label for='description'>Event Description</label>
                        <input id='description' name="description" type="text">
                        <label for='skill_level'>Skill Level</label>
                        <input id='skill_level' name="skill_level" type="text">
                        <button type='submit' class='btn btn-primary'>Create</button>
                </form>
            </center>
            </div>
            </div>
        </div>
    </div>

    </body>
</html>
