<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>All Pickups in your Area</title>
  </head>
  <body>
    <center>
      <div class='header'><h1>PickApp<small>Join the Fun</small>
      </div>
      <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary">
      <input type="checkbox" autocomplete="off" checked> Rookie
    </label>
    <label class="btn btn-primary">
      <input type="checkbox" autocomplete="off"> Semi-Pro
    </label>
    <label class="btn btn-primary">
      <input type="checkbox" autocomplete="off"> Go Pro
    </label>
    </div>
      </center>

    <div class="row">
      <div class="col-sm-3 col-md-4">
        <div class="thumbnail">
          <img src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/black-ink-grunge-stamps-textures-icons-sports-hobbies/042444-black-ink-grunge-stamp-textures-icon-sports-hobbies-ball-soccer1.png" alt="...">
          <div class="caption">
            <h3>Soccer</h3>
            <p>Soccer Games Located in your Area</p>
            <p><a href="#" class="btn btn-primary" role="button">View Games</a> <a href="#" class="btn btn-default" role="button">Create a Game</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-md-4">
        <div class="thumbnail">
          <img src="http://www2.psd100.com/ppp/2013/11/2701/Basketball-1127233121.png" alt="...">
          <div class="caption">
            <h3>Basketball</h3>
            <p>Basketball Games Located in your Area</p>
            <p><a href="#" class="btn btn-primary" role="button">View Games</a> <a href="#" class="btn btn-default" role="button">Create a Game</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class='footer'></div>
  </body>
</html>
