<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel='stylesheet' href='../css/styles.css'>
        <title>PickApp</title>
    </head>
    <body>
        <div class='container'>

        <center>
        <div class='header'><h1>PickApp<small> Join the Fun </small>
            <br>
            
            {% if events is not empty %}
            <ul>
                {% for event in events %}
            <li>{{ event.getName }}{{ event.getEventTime }}<link href="/event/{id}">Click here to join</link></li>
            <li>{{ event.getLocation }}</li>
           </ul>
           {% endfor %}
            {% endif %}

            <br>
        <form action='/events'>
            <button type"submit" class='btn btn-warning'>Events</button>
        </form>
        <form action='/create_login'>
            <button type"submit" class='btn btn-success'>Create a Login</button>
        </form>
        <form action='/login'>
            <button type"submit" class='btn btn-success'>Login</button>
        </form>

        </center>
    </body>
  </div>
</html>
