<html>
    <head>
        <link rel="stylesheet" href='../css/bootstrap.css'>
        <link rel='stylesheet' href='../css/login.css'>
        <title>PickApp</title>
    </head>
    <body>
      <center>
        <div class='header'><h1>PickApp<small>Join the Fun</small></h1>
          <img src='/images/pickapplogo.jpg' width="200px" height="200px"></img>
        <form action='/events'>
            <button type"submit" class='btn btn-primary'>Events</button>
        </form>
        <form action='/categories'>
          <button type='submit' class='btn btn-primary'>Categories</button>
        </form>
        <form action='/login'>
            <button type"submit" class='btn btn-primary'>Login</button>
        </form>
        <div class='black'>
        <form action='/create_login'>
            <button type"submit" class='btn btn-primary'>Create a Login</button>
        </form>
        </div>
      </center>

        <div class='container'>
        {% if events is not empty %}
        <ul>
            {% for event in events %}
        <li>{{ time.getEventTime }}<link href="/event/{id}">Click here to join</link></li>
       </ul>
       {% endfor %}
        {% endif %}
    </body>
  </div>
</html>
