<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Logged In</title>
  </head>
  <body>
    <div class='header'>You are now Logged In</div>
    <div class='footer'></div>
  </body>
</html>
