<html>
  <head>
    <link rel="stylesheet" href='../css/bootstrap.css'>
    <link rel='stylesheet' href='../css/login.php'>
    <title>User Profile</title>
  </head>
  <body>
    <div class='container'><br>
    <p>
        User Profile
    </p>
    {% if user_id is not empty %}
      <p>You are signed in as {{ user.getEmail }}</p>
      {% endif %}
    <form action="/">
        <button type="submit" class="btn btn-success">Ongoing Events</button>
    </form>
    </div>
    <div class='footer'></div>
  </body>
</html>
