<html>
  <head>
    <link rel="stylesheet" href='../css/bootstrap.css'>
    <link rel='stylesheet' href='../css/login.css'>
    <title>Login to PickApp</title>
  </head>
  <body>
    <div class="container-fluid">
     <div id="main">

        <div class="col-md-12">
         <div id="login">
             <center>
             <h2>PickApp Login</h2>

                <form action="/login" method="post">
                    <label for='email'>Email</label>
                    <input id='email' name="email" type="text">
                    <label for='password'>Password</label>
                    <input id='password' name="password" type="password">
                    <button type='submit' class='btn btn-primary'>Login</button>
                </form>
        </center>
        </div>
        </div>
    </div>
</div>
      <center>
      <form action='/'>
        <button type='submit' class='btn btn-primary'>
          Home
        </button>
      </center>


  </body>
</html>
