<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="css/login.css" rel="stylesheet" type="text/css">
    <title>Login to PickApp</title>
  </head>
  <body>
    <div class="container-fluid">
     <div id="main">
         <center>

        <div class="col-md-12">
         <div id="login">
             <h2>PickApp Login</h2>
                <form action="/login" method="post">
                    <label for='email'>Email</label>
                    <input id='email' name="email" type="text">
                    <label for='password'>Password</label>
                    <input id='password' name="password" type="password">
                    <button type='submit' class='btn btn-primary'>Login</button>
                </form>
            </center>
            </div>
        </div>
        </div>
    </div>
</div>


  </body>
</html>
