<html>
  <head>
    <link rel="stylesheet" href='../css/bootstrap.css'>
    <link rel='stylesheet' href='../css/login.css'>
    <title>User Profile</title>
  </head>
  <body>
  <center>
    <div class='container'>
    {% if user_id is not empty %}
      <h2>You are signed in as <small>{{ user.getEmail }}</small></h2>
      {% endif %}
    <form action="/">
        <button type="submit" class="btn btn-primary">Ongoing Events</button>
    </form>
    <br>
    <h3>Not you?</h3>
    <form action='/logout' method='post'>
        <button type='submit' class='btn btn-primary'>Logout</button>
    </div>
    <div class='footer'></div>
  </center>
  </body>
</html>
