<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<<<<<<< HEAD
    <title>Logged In</title>
  </head>
  <body>
    <div class='header'>You are now Logged In</div>
=======
    <title>User Profile</title>
  </head>
  <body>
    <div class='container'><br>
    <p>
        User Profile
    </p>
    <form action="/">
        <button type="submit" class="btn btn-success">Ongoing Events</button>
    </form>
    </div>
>>>>>>> 58379873e7820ecf4fc7f2abc0fff1c3ae302a2f
    <div class='footer'></div>
  </body>
</html>
