<html>
  <head>
    <link rel="stylesheet" href='../css/bootstrap.css'>
    <link rel='stylesheet' href='../css/login.css'>
    <title>{{ user.getName }}</title>
  </head>
  <body>
    <div class='header'></div>
    <div class='footer'></div>
  </body>
</html>
